VITE_APP_TITLE=Bumper-Vehicles-App
VITE_PORT=5174
VITE_LOCAL_API_URL=http://localhost:3000
VITE_PROD_API_URL=https://api.bumpervehicles.com
VITE_LOCAL_GAME_URL=http://localhost:5173
VITE_PROD_GAME_URL=https://app.bumpervehicles.com