# Server Configuration
PORT=3000
NODE_ENV=development
# local URL
WEB_APP_GAME_HOST_URL=http://localhost:5173
LANDING_PAGE_HOST_URL=http://localhost:5174
PROD_GAME_HOST_URL=https://app.bumpervehicles.com
PROD_LANDING_PAGE_HOST_URL=https://bumpervehicles.com

#Database Configuration
LOCAL_DB_URL=mysql://root:password@localhost:3306/bumper_vehicles
# LOCAL_DB_URL=mysql://admin:confluence-of-art8!@localhost:3307/bumper_vehicles
PROD_DB_URL=

# Mailer Configuration
IAM_USERNAME=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_HOST=email-smtp.us-east-2.amazonaws.com
SMTP_PORT=587

# Email Marketing Configuration
CONVERTKIT_API_KEY=
CONVERTKIT_API_SECRET=
CONVERTKIT_BETA_TAG_ID=
CONVERTKIT_FORM_ID=

# PayPal Sandbox (for testing)
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=

# Session Configuration
SESSION_SECRET=