#######################################################
# Example .env file for game back-end in development
#######################################################

PORT=3000
NODE_ENV=development

PROD_GAME_HOST_URL=https://app.bumpervehicles.com
PROD_LANDING_PAGE_HOST_URL=https://bumpervehicles.com
PROD_API_URL=https://api.bumpervehicles.com

# Database Configuration
PROD_DB_URL=mysql://user:password@server:port/database_name

# Redis Configuration 
# NOTE: Currently not used 
LOCAL_REDIS_URL=
PROD_REDIS_URL=

# Mailer Configuration
IAM_USERNAME=
AWS_REGION=
MAIL_FROM_EMAIL=no-reply@bumpervehicles.com
MAIL_FROM_NAME=Bumper Vehicles

# 3rd Party Email Marketing Credentials
CONVERTKIT_API_KEY=
CONVERTKIT_API_SECRET=
CONVERTKIT_BETA_TAG_ID=
CONVERTKIT_FORM_ID=

# PayPal Production Credentials
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=

# Session Configuration
SESSION_SECRET=