#######################################################
# Example .env file for game back-end in development
#######################################################

PORT=3000
NODE_ENV=development

WEB_APP_GAME_HOST_URL=http://localhost:5173
LANDING_PAGE_HOST_URL=http://localhost:5174
API_URL=http://localhost:3000

# Database
# Setup: [use your local MySQL DB credentials]
LOCAL_DB_URL=mysql://user:password@localhost:3306/bumper_vehicles

# Session Configuration 
# Setup: [generate random SESSION SECRET]
SESSION_SECRET=

# PayPal Sandbox
PAYPAL_CLIENT_ID=ATFlB8Ac0CA2wwkt9LdImaw4sD7ojUuC89jL9e4Rc6JljJGT-DvDlWpv1lZjJIFB-VMaaXJ2_Ey8bwL-
PAYPAL_CLIENT_SECRET=EAf-BHsBALyUIYoZu6EDcA3oyt_oziSwGXobY4_441jk6Docttk6FkCP9Dm8SkFUSGczLFfutGrO1KvB